body.active__color .shop__list .shop__item__content{
    background-color:#0F1642;
}
body.active__color .shop__list .shop__item__content .rating__and__price .shop__item__price{
    color: #FFFFFF;
}
body.active__color .shop__list .shop__item__content .name__and__description p{
    color: #FFFFFF;
}
body.active__color .container{
    background-color: #2B3253;
}
body.active__color .filters__block{
    background-color: #0F1642;
    color: #FFFFFF;
}
body.active__color .filters__block span{
    color: #FFFFFF;
}
body.active__color .filters__block .slider__range__title{
    background-color: #0F1642;
    color: #FFFFFF;
}
body.active__color .menu__block{
    background-color: #0F1642;
    color: #FFFFFF;
}
body.active__color .menu__block a{
    color: #FFFFFF;
}
body.active__color .menu__list > li:hover .list__item__link {
    background: linear-gradient(224.53deg, #9E94FF 0%, #7E72F2 99.2%);
    border-radius: 4px;
}